.App {
    padding:10px;
    justify-content: center;
    align-items: center;
}
.searchBar {
    padding:10px;
    display: inline-block;
    
}
.searchBar ul li{
    text-align:left;
    text-decoration:none;
}




